/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

**:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  
  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
  ol, ul {
    list-style-type: disc;;
  }
  
  /* For images to not be able to exceed their container */
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }

  select {
    all: revert; /* Restores default styles */
    appearance: revert; /* Ensures the dropdown arrow is restored */
}